{%extends 'core/base3.html'%}
{% block body %}


{% load static %}

  <style type="text/css">
    #bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  </style>


<link rel="stylesheet" type="text/css" href="{% static 'core/bootstrap.min.css' %}">

<div style="background-color:#AFB83B;color:white;padding:150px;">

    <h1>Mission</h1>
    <div style="color:BLACK">
    <p>1)	We aim to create an online community platform which connects the families of all the soldiers and defence personals across India. Special attention will be given to families of soldiers who either died in action or received career threatening injuries. </p>
 
    <p>2)	Within this community, people will have the option of creating smaller communities based on language, region or other such common points. 
          
    <p>3)	Families requiring any kind of help may go on this platform and post their problems either publically or they can do so privately to either an individual or a group of people. 
         
    <p>4)	Help can be provided by other families registered on this platform or by special donors who wish to help such families. 
         
    <p>5)	These donors might include NGOs, civilians, wealthy companies and other such outfits who wish to help out. 
         
    <p>6)	Help of all kinds and forms will be provided such as helping people get jobs in other sectors or providing education to young children of the fallen soldiers.  
         
    <p>7)	Other kinds of help may include providing accommodation to such families, helping them pay their medical bills or providing them with funds to help them get by.</p>
    </div>
</div>


{% endblock %}